
<div class="bg-primary">
        <div class="drugozadje py-5">
          <div class="login-box mx-auto maxWidth">
            <mat-card class="__shadow-lg--black rounded-lg">
              <mat-card-content>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                  <div class="text-center logo">
                    <mat-icon class="img" aria-label="ikona firme">timer</mat-icon>
                    <h4 class="mt-50">Reset password</h4>
                  </div>
      
                  <div class="inner-box">
                    <div class="inputWrapper">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Username or email address</mat-label>
                        <input matInput [formControl]="form.controls['identifier']">
                      </mat-form-field>
                      <small *ngIf="form.controls['identifier'].hasError('required') && form.controls['identifier'].touched"
                        class="text-danger support-text txt-color">Required.</small>
                    </div>
                    <div class="row padding-b rowStyle mx-auto">
                      <button mat-flat-button color="primary" class="btn-block btn-lg m-t-20 m-b-20 mx-auto" type="submit"
                        [disabled]="!form.valid" i18n routerLink="/calendar">Request password reset</button>
                    </div>
                    <div class="text-center link-txt">
                      <span>Return to <a [routerLink]="['/login']" class="text-info link">Login</a> </span>
                    </div>
                  </div>
                </form>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>