img {
    max-height: 100px;
    margin-bottom: 20px;
    padding-top: 20px;
  }
  
  .link {
    margin-top: 3px;
    text-align: left;
  }
  
  .bg-primary {
    background-color: rgb(245, 246, 248);
    height: 100%;
    width: 100%;
  }
  
  .drugozadje {
    background-color: rgb(245, 246, 248);
  }
  
  .login-box {
    padding-top: 5vh;
    width: 30%;
    min-width: 400px;
  }
  
  .inner-box {
    padding: 30px;
  }
  
  .link-txt {
    margin-bottom: 10px !important;
    margin-top: 10px !important;
  }
  
  .padding-b {
    padding-bottom: 10px;
  }
  
  .txt-color {
    color: red;
    text-align: center;
  }
  
  .inputWrapper {
    display: grid;
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    span {
      text-align: left;
    }
    small {
      margin-top: -5px;
      margin-bottom: 5px;
    }
  }
  .rowStyle {
    width: 80%;
    margin: auto;
  }
  .link {
    margin-top: 3px;
  }
  