<mwl-demo-utils-calendar-header
  [(view)]="view"
  [(viewDate)]="viewDate"
  (viewDateChange)="reservationService.loadAll()"
  (viewChange)="reservationService.loadAll()"
>
</mwl-demo-utils-calendar-header>

<div *ngIf="false" style="text-align: center;">
  {{ test }}
  <button (click)="onClickTest()">Get reservations</button>
  <li *ngFor="let reservation of reservations | async">
    {{ reservation.title }}
  </li>
</div>

<ng-template #loading>
  <div class="text-center">
    <i class="fa fa-spin fa-spinner fa-5x"></i> <br />
    Loading events...
  </div>
</ng-template>

<div *ngIf="reservations$ | async; else loading; let reservations">
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [viewDate]="viewDate"
      [locale]="locale"
      [events]="reservations"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="eventClicked($event.reservation)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="'week'"
      [viewDate]="viewDate"
      [locale]="locale"
      [events]="reservations"
      [dayStartHour]="9"
      [dayEndHour]="17"
      (eventClicked)="eventClicked($event.reservation)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="'day'"
      [viewDate]="viewDate"
      [locale]="locale"
      [events]="reservations"
      [dayStartHour]="9"
      [dayEndHour]="17"
      (eventClicked)="eventClicked($event.reservation)"
    >
    </mwl-calendar-day-view>
  </div>
</div>