<form action="submit" name="novRezForm">
  <div class="new-reservation-title">
    <input spellcheck="false" class="form-control" value="Nova rezervacija" />
  </div>
  <br>
  <div class="row">
    <div class="form-group col-md-6 col-sm-12">
      <label for="nome">Ime:</label>
      <input spellcheck="false" class="form-control" [(ngModel)]="imeStranke" name="imeStranke" type="text" id="nome"
        placeholder="Ime stranke">
    </div>
    <div class="form-group col-md-6 col-sm-12">
      <label for="tel">Telefonska:</label>
      <input spellcheck="false" class="form-control" [(ngModel)]="telStranke" name="telStranke" type="text" id="tel"
        placeholder="Telefonska stranke">
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6 col-sm-12">
      <label for="selectStori">Izbiranje storitev:</label>
      <ng-multiselect-dropdown id="selectStori" placeholder="Seznam storitev" name="stori" [data]="dataStor"
        [settings]="settingsStor" [(ngModel)]="selectedItemsStor"></ng-multiselect-dropdown>
    </div>
    <div class="form-group col-md-6 col-sm-12">
      <label for="selectDevovci">Izbiranje delavcev:</label>
      <ng-multiselect-dropdown id="selectDevovci" placeholder="Seznam delavcev" name="kdoDela" [data]="data"
        [settings]="settings" [(ngModel)]="selectedItems"></ng-multiselect-dropdown>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6 col-sm-12 ">
      <label>Datum storitve:</label>
      <div class="row col-sm-12 dtPicker">
        <ngb-datepicker id="datumPicker" [(ngModel)]="datePckr" name="datePckr"></ngb-datepicker>
      </div>
    </div>
    <div class="form-group col-md-6 col-sm-12">
      <label for="cajtPicker">Ura storitve:</label>
      <ngb-timepicker id="cajtPicker" name="time" [(ngModel)]="time"></ngb-timepicker>
      <div class="row">
        <div class="form-group col-md-12 col-sm-12">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-6">
              <label>Pošljem sms?</label>
            </div>
            <div class="col-md-6 col-sm-6 col-6 text-right">
              <mat-radio-group name="radioSms" [(ngModel)]="izbranRadioSms">
                <mat-radio-button style="margin-right: 10px;" [value]="1">Da</mat-radio-button>
                <mat-radio-button [value]="2">Ne</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>
        <div class="form-group col-md-12 col-sm-12">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-6">
              <label>Nastavim opomnik?</label>
            </div>
            <div class="col-md-6 col-sm-6 col-6 text-right">
              <mat-radio-group name="radioOpomnik" [(ngModel)]="izbranRadioOpomnik">
                <mat-radio-button style="margin-right: 10px;" [value]="1">Da</mat-radio-button>
                <mat-radio-button [value]="2">Ne</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-right">
    <span *ngIf="alert" class="alert alert-success col-6 col-md-6 col-xs-6" role="alert">
      This is a success alert—check it out!
    </span>
    <mat-icon [matTooltip]="tooltipSend" (click)="postRezervacija()" id="iconSend" aria-label="icon send">alarm_on
    </mat-icon>
    <mat-icon [matTooltip]="tooltipClose" (click)="zapriModal()" id="iconClose" aria-label="icon close">highlight_off
    </mat-icon>
  </div>
</form>