<!-- Calendar component -->

<div>
  <mat-toolbar style="padding-right: 0;" color="primary">
    <span>N</span>
    <span class="nobr">&nbsp;</span>
    <span>a</span>
    <span class="nobr">&nbsp;</span>
    <span>r</span>
    <span>
      <mat-icon id="ikonca" svgIcon="nslogo" aria-label="ikona nasa"></mat-icon>
    </span>
    <span>č</span>
    <span class="nobr">&nbsp;</span>
    <span>i</span>
    <span class="nobr">&nbsp;</span>
    <span>l</span>
    <span class="nobr">&nbsp;</span>
    <span>k</span>
    <span class="nobr">&nbsp;</span>
    <span>o</span>
    <span class="example-spacer"></span>

    <div fxShow="true" fxHide.lt-md="true">
      <!-- The following menu items will be hidden on both SM and XS screen sizes -->
      <a routerLink="/appointments" class="nav-seznam">Rezervacije</a>
      <a class="nav-seznam">Profil</a>
      <a class="nav-seznam">Odjava</a>
      <a class="nav-seznam">Administracija</a>
    </div>

    <div fxShow="true" fxHide.gt-sm="true">
      <mat-icon id="iconHamburger" (click)="sideNav.open()" aria-label="icon hamburger">menu_open</mat-icon>
    </div>
  </mat-toolbar>


  <mat-sidenav-container class="example-container">
    <mat-sidenav id="side-nav-list" #sideNav mode="over" position="end">
      <ul>
        <div class="zapirancija">
          <mat-icon id="iconClose" style="margin-top: 1%;margin-right: 6px;" (click)="sideNav.close()"
            aria-label="zapri meni ikona">highlight_off</mat-icon>
        </div>
        <li>
          <mat-icon id="ikoncaNasaSide" aria-label="ikona firme">timer</mat-icon>
        </li>
        <li>
          <p style="margin-bottom: 50px;">Naročilko</p>
        </li>
        <li style="margin-bottom: 30px;">
          <a href="#" mat-button>Rezervacije</a>
        </li>
        <li style="margin-bottom: 30px;">
          <a href="#" mat-button>Profil</a>
        </li>
        <li style="margin-bottom: 30px;">
          <a href="#" mat-button>Odjava</a>
        </li>
        <hr style="border: solid 1px black;width: 90%;" />
        <li style="margin-bottom: 30px;margin-top: 29px;">
          <a href="#" mat-button>Administracija</a>
        </li>
      </ul>
    </mat-sidenav>

    <mat-sidenav-content>
      <br>
      <div class="wrapper">
          <mwl-async-demo-component></mwl-async-demo-component>
          <div class="inner">
              <div fxLayout="row">
                  <div fxFlex="15"></div>
                  <div fxFlex="70">
                    <alert></alert>
                  </div>
                  <div style="text-align: right;" fxFlex="15">
                      <mat-icon id="iconAdd" [matTooltip]="tooltipNew" (click)="openDialog()" aria-label="icon add">alarm_add</mat-icon>
                  </div>
                </div>
          </div>
      </div>
      
    </mat-sidenav-content>
  </mat-sidenav-container>

  <router-outlet></router-outlet>


</div>