<div class="row text-center" id="glavaUtili">
    <div class="col-md-4" id="vrsticaNavigiranje">
        <div class="btn-group">
            <div class="btn btn-primary btn-group-isti" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="viewDateChange.next(viewDate)">
                Nazaj
            </div>
            <div class="btn btn-outline-secondary btn-group-isti" mwlCalendarToday [(viewDate)]="viewDate"
                (viewDateChange)="viewDateChange.next(viewDate)">
                Danes
            </div>
            <div class="btn btn-primary btn-group-isti" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="viewDateChange.next(viewDate)">
                Naprej
            </div>
        </div>
    </div>
    <div class="col-md-4" id="vrsticaDatum">
        <h3>{{ viewDate | calendarDate: view + 'ViewTitle':locale }}</h3>
    </div>
    <div class="col-md-4" id="vrsticaDnevi">
        <div class="btn-group">
            <div class="btn btn-primary btn-group-isti" (click)="viewChange.emit('month')" [class.active]="view === 'month'">
                Mesec
            </div>
            <div class="btn btn-primary btn-group-isti" (click)="viewChange.emit('week')" [class.active]="view === 'week'">
                Teden
            </div>
            <div class="btn btn-primary btn-group-isti" (click)="viewChange.emit('day')" [class.active]="view === 'day'">
                Dan
            </div>
        </div>
    </div>
</div>
<br />