<div class="bg-primary">
    <div class="drugozadje py-5">
        <div class="login-box mx-auto">
            <mat-card class="__shadow-lg--black rounded-lg">
                <mat-card-content>
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <!-- -->
                        <div class="text-center">
                            <mat-icon class="img" aria-label="ikona firme">timer</mat-icon>
                            <h4 class="m-t-0" *ngIf="!isAdminMode">Login</h4>
                            <h4 class="m-t-0" *ngIf="isAdminMode">Admin login</h4>
                        </div>
                        <!-- -->
                        <div class="inner-box" >
                            <!-- col full-->
                            <div class="row input input-margin">
                                <mat-form-field class="col-md-12" appearance="outline">
                                    <mat-label>Username</mat-label>
                                    <input id="login-username" matInput [formControl]="form.controls['username']">
                                </mat-form-field>
                                <small
                                    *ngIf="form.controls['username'].hasError('required') && form.controls['username'].touched"
                                    class="text-danger support-text txt-color col-md-6 txt-left">Username is required.</small>
                            </div>
                            <!-- col full-->
                            <div class="row input input-margin">
                                <mat-form-field class="col-md-12" appearance="outline">
                                    <mat-label>Password</mat-label>
                                    <input  id="login-password"  matInput type="password"
                                        [formControl]="form.controls['password']">
                                </mat-form-field>
                                <small
                                    *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched"
                                    class="text-danger support-text txt-color col-md-6 txt-left">Password is required.</small>
                            </div>

                            <span style="color: red" *ngIf="wrongCredentials" class="text-danger support-text txt-color">Invalid credentials.</span>
                            <!-- col half-->
                            <div class="row link-txt m-3">
                                <mat-checkbox class="col" color="primary">Remember me </mat-checkbox>
                                <a [routerLink]="['/forgot']" class="cpl link"> Forgot password?</a>
                            </div>
                            <!-- col full-->
                            <div class="row mx-auto">
                                <button id="login-submit" mat-flat-button color="primary" class="btn-block btn-lg mx-auto"
                                    type="submit" [disabled]="!form.valid">Login</button>
                            </div>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
