.txt-color {
  color: red;
  text-align: center;
}

.input-margin {
  margin-top: 15px;
}

.txt-left {
  text-align: left;
}

img {
  max-height: 100px;
  margin-bottom: 20px;
  padding-top: 20px;
}

.link {
  margin-top: 3px;
  text-align: left;
}

.bg-primary {
  background-color: rgb(245, 246, 248);
  height: 100%;
  width: 100%;
}

.drugozadje {
  background-color: rgb(245, 246, 248);
}

.login-box {
  padding-top: 5vh;
  width: 30%;
  min-width: 400px;
}

.inner-box {
  padding: 30px;
}
