/* You can add global styles to this file, and also import other style files */
/* angular-cli file: src/styles.css */
@import "../node_modules/angular-calendar/css/angular-calendar.css";


.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

#ikonaNav {
    margin-left: 25px;
    width: 48px;
    height: 48px;
    margin-top: 13px;
    margin-bottom: 5px;
    outline:none;
    
}

.zapirancija {
    color: red;
    text-align: right;
}



.example-spacer {
    flex: 1 1 auto;
}

.btn-group-isti {
    width: 80px;
}


@media screen and (max-width: 959px) {

    .btn-group-isti {
        margin-top: 15px;
    }

    #glavaUtili { 
      display: table;
      margin-left: auto;
      margin-right: auto;
    }
    #vrsticaDatum {
      display: table-header-group;
    }
    #vrsticaNavigiranje {
      display: table-footer-group;
    }

}

#side-nav-list {
    width: 100%;
    height: 100%;
}

#side-nav-list ul {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
   
}


.a-sidenav-list {
    margin-bottom: 30px;
}

#ikoncaNasaSide {
    transform: scale(5);
    margin-top: 100px;
    margin-bottom: 50px;
}

#ikonca {
    margin-right: 1px;
}

.nobr {
    font-size: 6px;
}

.nav-seznam {
    margin-right: 25px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.text-right {
    text-align: right;

}

.mat-toolbar.mat-primary {
    background: #007bff;
    color: #fff;
  }

#selectStori .multiselect-dropdown .dropdown-btn {
    display: inline-block;
    border: 1px solid #ced4da;
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.52857143;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border-radius: 4px;
}


#selectDevovci .multiselect-dropdown .dropdown-btn {
    display: inline-block;
    border: 1px solid #ced4da;
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.52857143;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border-radius: 4px;
}

#selectStori .multiselect-dropdown .dropdown-btn .ng-star-inserted{
    color: #495057;
}  

#selectDevovci .multiselect-dropdown .dropdown-btn .ng-star-inserted{
    color: #495057;
} 

#selectStori .multiselect-dropdown .dropdown-btn .selected-item{
    color: #ecf1f7;
    background: #007bff;
}  

#selectDevovci .multiselect-dropdown .dropdown-btn .selected-item{
    color: #ecf1f7;
    background: #007bff;
} 


#selectStori .multiselect-dropdown .dropdown-btn .selected-item a {
    color: #b94a48 !important;
    font-weight: bold;
}

#selectDevovci .multiselect-dropdown .dropdown-btn .selected-item a {
    color: #b94a48 !important;
    font-weight: bold;
}

.text-center {
    text-align: center;
}

#iconSend {
    font-size: 56px;
    width: 56px;
    height: 56px;
    color: #007bff;
    cursor: pointer;
}

#iconClose {
    font-size: 52px;
    width: 56px;
    height: 56px;
    color: #b94a48;
    cursor: pointer;
}

#iconHamburger {
    font-size: 50px;
    width: 56px;
    height: 56px;
    color: #ffffff;
    cursor: pointer;
    margin-top: 3px;
}




#iconAdd {
    font-size: 56px;
    width: 56px;
    height: 56px;
    outline:none;
    color: #007bff;
    cursor: pointer;
    margin-right: 3.5%;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color:#007bff; 
  }
  
.mat-radio-button.mat-accent .mat-radio-inner-circle{
    color:#007bff;
    background-color:#007bff ;
  }
  
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
      background-color:#73b0f1
  }


.new-reservation-title {
    text-align: center;
}


.new-reservation-title input {
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    border: 0px;
}

.ngb-tp {
    justify-content: center;
    margin-bottom: 1rem;
}

.dtPicker {
    display: flex;
    justify-content: center;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin: 0 !important;
    margin-bottom: 1rem;
}


.multiselect-dropdown .dropdown-list .item1 input {
    color: #007bff;
    border: 2px solid #007bff;
}

.wrapper {
    position: relative;
}

.inner {
    position: absolute;
    bottom: 1%;
    width: 100%;
    max-height: 60px;
    overflow: hidden;
    text-align: center;
}


