<div class="login-register" >
    <div class="login-register-box">
      <mat-card>
        <mat-card-content>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="text-center">
                <h4 class="m-t-0">{{ form.controls['username'].value }}</h4>
            </div>

            <div fxLayout="row" fxLayoutWrap="wrap">
              <!-- col full-->
              <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <mat-form-field>
                  <input matInput type="password" placeholder="Password" [formControl]="form.controls['password']">
                </mat-form-field>
                <small *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" class="text-danger support-text">Password is required.</small>
              </div>
              <!-- col full-->
              <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <button mat-raised-button class="btn-block btn-lg m-t-10 m-b-10"  color="primary" type="submit" [disabled]="!form.valid">Unlock</button>
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

