<div class="bg-primary">
  <div class="drugozadje py-5"> 
    <div class="login-box mx-auto">
      <mat-card class="__shadow-lg--black rounded-lg">
        <mat-card-content>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="text-center logo"><mat-icon class="img" aria-label="ikona firme">timer</mat-icon>
              <h4 class="m-t-0" *ngIf="!registeringWithToken">Register</h4>
              <h4 class="m-t-0" *ngIf="registeringWithToken">Choose a password to continue</h4>
            </div>
            <div class="inner-box">
              <!-- col full-->
              <div class="inputWrapper">
                <mat-form-field style="width: 100%" appearance="outline">
                  <mat-label>Username</mat-label>
                  <input matInput type="username" [formControl]="form.controls['username']">
                </mat-form-field>
                <small *ngIf="form.controls['username'].hasError('required') && form.controls['username'].touched"
                  class="text-danger support-text txt-color" >You must include an username address.</small>
                <small *ngIf="form.controls['username'].errors?.username && form.controls['username'].touched"
                  class="text-danger support-text txt-color">You must include a valid username address.</small>
              </div>

              <!-- col full-->
              <div class="inputWrapper">
                <mat-form-field appearance="outline">
                  <mat-label>Password</mat-label>
                  <input matInput type="password" [formControl]="form.controls['password']">
                </mat-form-field>
                <small *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched"
                  class="text-danger support-text txt-color">Required.</small>
                <small *ngIf="form.controls['password'].hasError('passwordComplexity') && form.controls['password'].touched"
                  class="text-danger support-text txt-color">Password does not match minimum requirements.</small>
                <ul class="text-left">
                  <li>Password must be at least 8 characters long</li>
                  <li>Password must contain at least one numeric character</li>
                </ul>
              </div>


              <!-- col full-->
              <div class="inputWrapper">
                <mat-form-field appearance="outline">
                  <mat-label>Confirm password</mat-label>
                  <input matInput [formControl]="form.controls['confirmPassword']" type="password">
                </mat-form-field>
                <small
                  *ngIf="form.controls['confirmPassword'].hasError('required') && form.controls['confirmPassword'].touched"
                  class="text-danger support-text txt-color">Required.</small>
                <small *ngIf="form.controls['confirmPassword'].hasError('passwordMatches')"
                      class="text-danger support-text txt-color">Passwords do not match.</small>
              </div>

              <!-- col full-->
              <div class="padding-b rowStyle link-txt">
                <mat-checkbox class="font-14">I agree to all the <a href="javascript:void(0)"
                    class="link text-info">terms</a>.</mat-checkbox>
              </div>
              <div class="row padding-b rowStyle mx-auto">
                <button mat-flat-button color="primary" *ngIf="!registeringWithToken" class="btn-block btn-lg m-t-20 m-b-20 mx-auto" type="submit"
                  [disabled]="!form.valid">Create your account</button>
                <button mat-flat-button color="primary" *ngIf="registeringWithToken" class="btn-block btn-lg m-t-20 m-b-20 mx-auto" type="submit"
                  [disabled]="!form.valid">Set password</button>
              </div>

              <div class="padding-b rowStyle text-center link-txt">
                <span>Already have an account? <a [routerLink]="['/login']" class="link text-info"> Log in</a></span>
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
